<% include partials/header %>
<div class="container">
<h1 class="jumbotron">Welcome to the Landing Page</h1>

<h2>Yeplcamp welcome you</h2>

<a href="/animals" class="btn btn-primary">View animals</a>  
</div>

