<% include partials/header %>
<div class="container">
<div class="jumbotron">
<h1 >Add more animals </h1>

<form action="/animals" method="POST">
   <input type="text" name="name" placeholder="name">
   <input type="text" name="url" placeholder="image url">
   <input type="text" name="desc" placeholder="description">
   <p>

   
   <button class="btn btn-success">SUBMIT</button>
   </p>

</form>
</div>
<a href="/animals" class="btn btn-info">Go back</a>  

</div>
